/* .main{min-height:100%;
    padding-bottom:60px;
    box-sizing:border-box;
    overflow: hidden;}
.footer {
background-color: #212121;
position: fixed;
bottom: 0;
} */


.sliding {
    background: url("https://farm5.staticflickr.com/4910/31749890377_e1f76ae397_b.jpg") repeat-x;
    height: 560px;
    width: 5076px;
    animation: slide 60s linear infinite;
  }

  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0);
    }
  }