/* .login-reg {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Berkhamsted_Rex_auditorium1.jpg/1200px-Berkhamsted_Rex_auditorium1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
} */